</div> <!-- end #main -->

        <!-- Site footer -->
      <footer id="footer" class="darkbkgd" aria-label="Footer Navigation">
        <div class="container">
          <div class="row" id="bigFooter">
          <div class="col-md-2 col-sm-2 col-xs-6">
            <h4>General</h4>
        <ul>
          <li><a href="//lib.unb.ca/about/contacts.php">Contact Us</a></li>
          <li><a href="//lib.unb.ca/about/findus.php">Find Us</a></li>
          <li><a href="//lib.unb.ca/news/">Library News</a></li>
          <li><a href="//lib.unb.ca/about/hours.php">Hours</a></li>
          <li><a href="//lib.unb.ca/about/policies/">Policies</a></li>
        </ul>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <h4>Libraries</h4>
            <ul>
          <li><a href="//lib.unb.ca/about/harrietirving.php">Harriet Irving</a></li>
          <li><a href="//lib.unb.ca/about/science.php">Science & Forestry</a></li>
          <li><a href="//lib.unb.ca/about/engineering.php">Engineering & Computer Science</a></li>
          <li><a href="//lib.unb.ca/about/saintjohn.php">Hans W. Klohn Commons</a></li>
          <li><a href="http://www.unb.ca/fredericton/law/library/">Gerard V. La Forest Law</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <h4>Departments</h4>
            <ul>
          <li><a href="//lib.unb.ca/archives/">Archives & Special Collections</a></li>
          <li><a href="https://digitalscholarship.lib.unb.ca/">Centre for Digital Scholarship</a></li>
          <li><a href="//lib.unb.ca/microforms/">Microforms</a></li>
          <li><a href="//lib.unb.ca/gddm/">Government Documents, Data & Maps</a></li>
          <li><a href="//lib.unb.ca/about/staff.php">&hellip; more</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 UNB-logo">
            <a href="http://unb.ca"><img src="//media.lib.unb.ca/core/img-2015/UNB-logo-2015.png" alt="University of New Brunswick" /></a>
          </div>
        </div>

        <div class="row joinConver">
          <div class="col-sm-12">
          <h4>Join the conversation:</h4>
          <ul>
        <li><a href="https://www.facebook.com/pages/UNB-Libraries/23444751122"><i class="fa fa-facebook fa-sm" style="color: #fff"></i> Facebook</a></li>
        <li><a href="https://twitter.com/UNBLibraries"><i class="fa fa-twitter fa-sm" style="color: #fff"></i> Twitter</a></li>
        <!--li><a><i class="fa fa-youtube fa-sm" style="color: #fff"></i> YouTube</a></li-->
        <li><a href="https://www.instagram.com/unblibraries/"><i class="fa fa-instagram fa-sm" style="color: #fff"></i> Instagram</a></li>
      </ul>
          </div>
        </div>
      </div>

  <div id="subBigFooter" class="darkbkgd">
    <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <ul>
              <li><a href="//www.unb.ca/copyright/">&copy; Copyright</a></li>
              <li><a href="//unb.ca/privacy/index.html">Privacy</a></li>
              <li><a href="//lib.unb.ca/help/accessibility.php">Accessibility</a></li>
              <li><a href="//lib.unb.ca/libmail/webadmin.php">Web Feedback</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12" id="pushRight">
            <ul class="utilities">
              <li><a href="//unb.ca"><i class="icon-unb"></i> UNB</a></li>
              <li><a href="//lib.unb.ca/help/ask.php"><i class="fa fa-question-circle"></i> Ask Us</a></li>
              <li><a href="//lib.unb.ca/news/comment"><i class="fa fa-comments"></i> Feedback</a></li>
              <li class="last"><a href="//lib.unb.ca/search.php"><i class="fa fa-search"></i> Search</a></li>
        </ul>
          </div>
        </div>
    </div>
  </div>

      </footer>

    <a href="#mainPage" class="cd-top">Back to Top</a>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//lib.unb.ca/core/js-2015/fhmm.js"></script>
  <script src="//lib.unb.ca/core/js-2015/hoverintent.min.js"></script>
  <script src="//lib.unb.ca/core/js-2015/back-to-top.js"></script>
  <script src="//lib.unb.ca/core/js-2015/responsive-tabs-new.js"></script>
    <script src="//lib.unb.ca/core/js-2015/bootstrap-accessibility.min.js"></script>
    <script>
    // Menu drop down effect
    $('.dropdown-toggle').dropdownHover().dropdown();
    $(document).on('click', '.fhmm .dropdown-menu', function(e) {
      e.stopPropagation()
    })
  </script>
  <script>
    (function($) {
      $('html,body').animate({scrollTop:0},0);
        $('#eresTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
        })
      fakewaffle.responsiveTabs(['xs', 'sm']);
            $("#catalogue a.toggle").click( function(e) { e.preventDefault(); $('.search-toggle').toggleClass('hidden'); } );
    })(jQuery);
  </script>
    <script src="//lib.unb.ca/core/js-2015/unb.lib.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="//lib.unb.ca/core/js-2015/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
