<p>Today's Hours</p>
<ul>
<li><a href="//lib.unb.ca/about/harrietirving.php">Harriet Irving Hours</a></li>
<li><a href="//lib.unb.ca/about/science.php">Science &amp; Forestry Hours</a></li>
<li><a href="//lib.unb.ca/about/engineering.php">Engineering &amp; CS Hours</a></li>
<li><a href="//lib.unb.ca/about/saintjohn.php">Saint John Hours</a></li>
<li><a href="http://www.unb.ca/fredericton/law/library/">Law Hours</a></li>
<li><a href="//lib.unb.ca/about/hours.php"><i class="fa fa-clock-o fa-wh"></i> Complete Hours</a></li>
</ul>
