{% include 'lib-head.html' %}

<h2>{{ metadata.title if metadata.title else coll }} Search Page</h2>

<!--
<div>
<table style="text-align: left">
{% for key, val in metadata.items() %}
<tr><th>{{ key }}:</th><td>{{ val }}</td>
{% endfor %}
</table>
</div>
-->

<p>Search this collection by URL:</p>
<form class="form-inline" onsubmit="url = document.getElementById('search').value; if (url != '') { document.location.href = '{{ wb_prefix }}' + '*/' + url; } return false;">
  <div class="form-group">
    <input type="text" class="form-control" id="search" name="search" placeholder="Enter url to search">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

{% include 'lib-foot.html' %}
